.title {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  animation: anim 1s linear infinite;
  background-image: linear-gradient(90deg, #FF6666, #FFAA66, #FFDD66, #66FFCC, #6699FF, #9966FF, #FF6666);
  background-size: 200%;
  color: transparent;
  background-clip: text;
  text-align:center;
  font-size:100px;
}

@keyframes anim {
  from {
    background-position: 0%;
  }

  to {
    background-position: -200%;
  }
}

body {
  background-color: darkslategray;
}