.title {
  animation: anim 1s linear infinite;
  font-family: "Comfortaa", serif;
  color: transparent;
  background-clip: text;
  font-optical-sizing: auto;
  font-size: 200px;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  text-align: center;
  background-image: radial-gradient(#FF6666, #FFAA66, #FFDD66, #66FFCC, #6699FF, #9966FF, #FF6666)
}

@keyframes anim {
  from {
    background-size: 0%;
  }

  to {
    background-size: 200%;
  }
}